@font-face {
  font-family: "Exo";
  src: url("./files/Exo-Light.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./files/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./files/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("./files/Montserrat-Bold.ttf");
  font-weight: 600;
}
